# Quality Report
Use this file to outline the test strategy for this package.

## Version tested: 0.0.10-preview.19

Test strategy: Automated UnityTests for (Playmode)
- Threadpool execution context
- JobSystem execution context
- Immediate execution context
- AsyncRequests threadpool
- AsyncRequests options
- Configuration Manager AppParams
- Tests enabled for running on USim via internal tools package

## QA Owner: Justin Graham
## UX Owner: Justin Graham

